.contacts__tel {
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;
    color: $p-color;
    padding-top: 32px;
    padding-bottom: 32px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

@media screen and (min-width:$tablet) {
    padding-top: 0;
    padding-bottom: 0;
    font-size: 12px;
    line-height: calc(14 / 12);
    position: absolute;
    left: 1px;
}

@media screen and (min-width:$desktop) {
        font-size: 14px;
        line-height: calc(16 / 14);
}

    &:hover,
    &:focus {
        color: $active-color;
    }
}

.contacts__mail {
    display: flex;
    gap: 10px;
    justify-content: flex-end;
    align-items: center;
    font-weight: 500;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.02em;

    color: $p-color;
    padding-top: 32px;
    padding-bottom: 32px;

    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width:$tablet) {
            padding: 0;
            margin-bottom: 10px;
            font-size: 12px;
            line-height: calc(14 / 12);
        }

@media screen and (min-width:$desktop) {
    margin-bottom: 0;
    font-size: 14px;
    line-height: calc(16 / 14);
}

    &:hover,
    &:focus {
        color: $active-color;
    }
}

.contacts__item {
    display: none;
    @media screen and (min-width:$tablet) {
        display: block;

    }
        @media screen and (min-width:$desktop) {
            display: flex;
        }
    
}

.header__contacts .contacts__item+.contacts__item {
    margin-left: 50px;
}

.contacts__mail-icon {
    fill: currentColor;
    width: 14px;
    height: 10px;

@media screen and (min-width:$desktop) {
    width: 16px;
    height: 12px;
}

}

.contacts__tel-icon {
    fill: currentColor;
    width: 10px;
    height: 14px;

    @media screen and (min-width: $desktop) {
        width: 10px;
        height: 16px;
    }
}