.feature__title-secondary {
    font-weight: 700;
    text-align: center;
    font-size: 14px;
    line-height: calc(16 / 14);
    letter-spacing: 0.03em;
    text-transform: uppercase;

    color:$nav-color;
}

.feature {
    margin: 0 auto;
    padding-top: 60px;
    padding-bottom: 60px;
    background: $project-background;

    @media screen and (min-width:$tablet) {
        padding-top: 60px;
        padding-bottom: 60px;
    }

    @media screen and (min-width:$desktop) {
        padding-top: 94px;
        padding-bottom: 94px;
    }

}

.feature__list {
    display: block;
    outline: 1px solid teal;

    
@media screen and (min-width:$tablet) {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;

}

@media screen and (min-width:$desktop) {
    display: flex;
    gap: 30px;

}
    
}

.feature__container {
    padding-top: 25px;
    padding-bottom: 25px;
    margin-bottom: 30px;
    text-align: center;
    background-color:$section-background;
    width: 450px;
    height: 120px;

@media screen and (min-width:$tablet) {
         width: 354px;
         height: 120px;

    }

 @media screen and (min-width:$desktop) {
            width: 270px;
            height: 120px;
        }
}

.feature__about {

    font-size: 14px;
    line-height: calc(24 / 14);
    letter-spacing: 0.03em;
    color: $p-color;
    margin-top: 10px;
}

.feature__title--visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.feature__item {
    padding-bottom: 30px;

    @media screen and (min-width:$tablet) {
     width: 354px;
     height: 226px;
    }

    @media screen and (min-width:$desktop) {
            width: 270px;
            height: 248px;
        }


    &:last-child {
        padding-bottom: 0;
    }
}