.section-title {
    font-weight: 700;
    font-size: 28px;
    line-height: calc(33 / 28);
    letter-spacing: 0.03em;
    color: $nav-color;
    margin-bottom: 30px;

    @media screen and (min-width:$desktop) {
        margin-bottom: 50px;
        font-size: 36px;
        line-height: calc(42 / 36);
    }
}

.section-main-second {

    display: none;

    @media screen and (min-width:$desktop) {
        display: flex;
        background: $project-background;
            padding-bottom: 94px;
    }
    
}

.section-team {
    background: $section-background;
    padding-top: 60px;
    padding-bottom: 60px;

    @media screen and (min-width:$desktop) {
        padding-top: 94px;
            padding-bottom: 94px;
    }
}

.section-team-ul {
    display: block;

    @media screen and (min-width:$tablet) {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    
    @media screen and (min-width:$desktop) {
        display: flex;
        flex-wrap: nowrap;
        gap: 30px;
    }
}

.section-footer {
    background: $section-hero-color;
    padding-top: 60px;
    padding-bottom: 60px;
}