body {
    font-family: "Roboto", sans-serif;
    color: $white-color;
    background: #ffff;
}

address {
    margin-top: 20px;
}

.container {
    margin: 0 auto;
    padding: 0 15px;
    

/* mobile screen */
@media screen and (min-width: $mobile) {
    width: $mobile;
}

// tablet screen
@media screen and (min-width:$tablet) {
    width: $tablet;
}
    
// desktop screen
@media screen and (min-width: $desktop) {
    width: $desktop;
}

}

.container-p {
    padding-top: 30px;
    padding-bottom: 30px;
    padding-left: 20px;
    padding-right: 20px;

    text-align: center;

}

